/** @format */
body {
  align-items: center;
  background: #f2f4f8;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 100%;
  justify-content: center;
}

.oldman {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.youngman {
  color: green;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.teenage {
  color: blue;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kids {
  color: yellowgreen;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notnum {
  color: black;
  text-decoration: line-through;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head3 {
  text-align: center;
}

.resultss {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#resultage {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.agecheckg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 400px;
  width: 400px;
  border: 1px solid rgb(220, 135, 116);
  background: rgb(241, 214, 214);
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 12px;
  margin: 5px 1px 1px 1px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 65.5%;
  left: 51%;
  transform: translate(-50%, -50%);
}
